{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="zh-CN"{% endblock %}

{% block content %}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>魔力</th>
                <th>点数</th>
                <th>下勾时间</th>
                <th>下沟状态</th>
                <th>汇报时间</th>
            </tr>
        </thead>
        <tbody>
            {% for userid,state in states.items() %}
            <tr>
                <td>{{state.userid}}</td>
                <td>{{state.bonus}}</td>
                <td>{{state.point}}</td>
                <td>{{state.update_ts}}</td>
                <td>{{state.state}}</td>
                <td>{{state.next_ts}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}